.column {
    float: left;
    padding: 10px;
    height: 300px;
}

.left {
  width: 15%;
}

.middle {
  width: 40%;
}

.right{
    width: 40%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}