<div id="item">
	<table>
		<thead>
			<tr>
                <th>Availability</th>
                <th>Type</th>
				<th>ISBN</th>
				<th>Title</th>
				<th>Sector</th>
				<th>Published Date</th>
                <th>Current Reader</th>
                <th>Borrow Date</th>
                <th>Burrow Time</th>

                <th>Authors</th>
                <th>Publisher</th>
                <th>Page Count</th>

                <th>Languages</th>
                <th>Subtitles</th>
                <th>Producer</th>
                <th>Actors</th>
			</tr>
		</thead>
		<tbody>
			<tr>
                <td>Yes</td>
                <td>Book</td>
				<td>978-3-16-148410-0</td>
				<td>Milkyway Galaxy</td>
				<td>Astronomy</td>
				<td>2011/02/26</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Arthur C. Clerk</td>
                <td>Redwood Publishers</td>
                <td>250</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
			</tr>
			<tr>
                <td>No</td>
                <td>DVD</td>
				<td>0-999-00123-1</td>
				<td>Human Anatomy</td>
				<td>Biology</td>
				<td>2016/11/21</td>
                <td>Chathura Alwis</td>
                <td>2018/11/02</td>
                <td>01:30 PM</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>English</td>
                <td>English</td>
                <td>Mark Anthony</td>
                <td>James Pearson, Angela Fox</td>
			</tr>
		
		</tbody>
	</table>
</div>